*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
h3,td{
    text-align : center;
}
.hero{
    height: 100vh;
    width:100%;
    background-color:gray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.image{
    float: right;
    height: 250px;
    width: 200px;
    margin-right: 80px;
}
nav {
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    background-color:black;
    z-index: 1000; 
    padding: 20px 0;
    display: flex;
    justify-content: center;
}
nav ul li{
    display:inline-block;
    list-style: none;
    margin:10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
nav ul li a:hover{
    color:  rgb(138, 186, 152);
}
nav ul li a{
    font-weight: bold;
}
.info{
    margin-left: 8%;
    margin-top: 6%;
    padding-top: 86px;
}
.info h1{
    font-size:40px;
    color:black;
    margin-bottom:20px;
}
.info p{
    color:black;
    line-height: 22px;
}
.social{
    margin-left: 8%;
    margin-top: 10px;
}
.social a{
    font-size:35px;
    color:black;
    margin-right: 20px;
}
.social a:hover{
    color:blue;
}
.edu{
    height: 100vh;
    width:100%;
    background-color:grey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    padding-top: 86px;
}
.edu a h3{
    text-align:center;
    color:black;
}
.edu table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px 0;
    margin-left: 8%;
    margin-top: 50px;
}
.edu table,.edu th,.edu td{
    border: 2px solid;
    border-color: black;
    padding: 5px;
}
.skill{
    height: 100vh;
    width:100%;
    background-color:grey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    padding-top: 86px;
}
.skill a h3{
    text-align:center;
    color:c;
}
.skill ul{
    margin-top: 4%;
    text-align: center;
    color:black;
}
.skill ul li{
    margin-top: 2%;
}
.projects{
    background-color: gray;
    height:100vh;
    width:100%;
    padding-top: 86px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.project-box{
    background-color: rgb(138, 186, 152);
    border: 1px solid black;
    width: 36%;
    margin: 10px;
}
.projects h3{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 10px;
}
.projects h4{
    padding-top: 10px;
    padding-bottom: 10px;
}
.contact{
    background-color:grey;
    height:100vh;
    width: 100%;
    padding-top: 86px;
    text-align: center;
}
.contact p{
    padding: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.contact form{
    align-items: center;
    padding-top: 50px;
}
form {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    background-color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

form input[type="email"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

form button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: gray;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

form button[type="submit"]:hover {
    background-color: #45a049;
}

form input[type="email"]:focus {
    border-color: #4CAF50;
    outline: none;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
    flex-shrink: 0;
}